extends layout

block content
	form#blogedit(action="/blogedited" method="POST")
		label.LoginPromptLabel(for="title") Title: #{result[0].title}
		input#title(type="hidden",name="title",value="#{result[0].title}")
		input#username(type="hidden",name="username",value="#{username}")
		input#password(type="hidden",name="password",value="#{password}")
	br
	textarea#blogtext(name="blogtext" form="blogedit") #{result[0].blogtext}
	script CKEDITOR.replace( 'blogtext' );
	br
	div.submitter
		a(href="#",onclick="blogedit.submit()") Submit Entry